#myCanvas {
	border: 1.0px solid #000;
	/*width: 800.0px;
	height: 300.0px; */
	cursor: none;
	margin:auto;
	display: block;
	background: black;
}

#game {
	width: 900px;
	margin: auto;
	text-align: center;
}

